<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin panel</title>
</head>


<body>

<div class="row">
    <div class="container-fluid">
        <!-- HEADER -->

        <header class="p-3 mb-2 bg-dark text-white">

            <div class="d-flex justify-content-between">
                <div class="mt-2" id="header_text">


                   <!-- <span th:text="${#authentication.principal.email}"></span>
                    <span>with roles:</span>
                    <th:block th:each="r,authority : ${#authentication.getAuthorities()}">
                    <span th:if="${r.getAuthority().startsWith('ROLE_')}"
                          th:text="${r.getAuthority().replaceFirst('ROLE_', '')}"></span>
                    </th:block> -->

                </div>
                <div>
                    <!-- Add a logout button -->
                    <form action="#" th:action="@{/logout}"
                          method="POST">
                        <input type="submit" value="Logout" class="btn btn-outline-primary mt-2"/>
                    </form>
                </div>
            </div>
        </header>

    </div>

</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-user-tab" data-toggle="tab" href="#user-panel" role="tab"
                   aria-controls="v-pills-user" aria-selected="true">User</a>
            </div>
        </div>


        <div class="col-md-10">


                <div class="tab-pane fade show active " id="user-panel" role="tabpanel" aria-labelledby="user-panel-tab">
                    <div>
                        <h2>User information-page</h2>
                    </div>


                    <div class="container-fluid">
                        <hr>
                        <div class="col-md-11">
                        </div>
                        <table class="table table-bordered table-striped" id="test_table">
                            <h4>About user</h4>
                            <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>
                            </tr>
                            </thead>

                            <tbody id="body_user_table">

                         <!--   <tr>
                                <td th:text="${user.id}"/>
                                <td th:text="${user.firstName}"/>
                                <td th:text="${user.lastName}"/>
                                <td th:text="${user.age}"/>
                                <td th:text="${user.email}"/>
                                 <td>
                                      <th:block th:each="r,authority : ${#authentication.getAuthorities()}">
                                      <span th:if="${r.getAuthority().startsWith('ROLE_')}"
                                      th:text="${r.getAuthority().replaceFirst('ROLE_', '')}"></span>
                                      </th:block>
                                  </td>

                            </tr> -->
                         <!-- <td th:text="${principal_roles}"/>-->
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-small">
                            <button type="button" id="btest" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#updateModal">Edit</button>
                        </div>
                        <div class="col-small">
                            <button  type="button" class="btn btn-danger btn-sm">
                                Delete
                            </button>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</div>
<!-- HTML-код модального окна -->
<!-- Update modal -->
<div class="modal fade" id="updateModal" role="dialog" tabindex="-1"
     aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text">
                <h5 class="modal-title" id="updateModalLabel">Edit user</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/admin/saveUser}" method="POST" class="formsave">
                    <!-- Add hidden form field to handle update  th:object="${user}" method="POST" -->
                    <input type="hidden"
                           class="text"
                           readonly size="50"
                           name="id"/>
                    <div class="d-flex justify-content-center ">
                        <div class="d-flex flex-column text-center">
                            <div class="p-2">
                                <label for="id"><strong>ID</strong></label>
                                <br/>
                                <input disabled class="form-control" id="id"
                                       readonly
                                       type="number"
                                       name="id">
                            </div>
                            <div class="p-2">
                                <label for="firstName"><strong>First
                                    name</strong></label>
                                <br/>
                                <input type="text"

                                       class="form-control" name="firstName"
                                       id="firstName"
                                       placeholder="First name">
                            </div>
                            <div class="p-2">
                                <label for="lastName"><strong>Last
                                    name</strong></label>
                                <br/>
                                <input type="text"

                                       class="form-control" name="lastName"
                                       id="lastName"
                                       placeholder="Last name">
                            </div>
                            <div class="p-2">
                                <label for="age"><strong>Age</strong></label>
                                <br/>
                                <input type="number"
                                       class="form-control" name="age" id="age"
                                       placeholder="Age">
                            </div>
                            <div class="p-2">
                                <label for="email"><strong>Email</strong></label>
                                <br/>
                                <input type="email"

                                       class="form-control" name="email"
                                       id="email"
                                       placeholder="Email">
                            </div>

                            <div class="p-2">
                                <label for="password"><strong>Password</strong></label>
                                <br/>
                                <input type="password"

                                       class="form-control" name="password"
                                       id="password"
                                       placeholder="Password">
                            </div>


                            <div class="p-2">
                                <label for="roles">User roles (multiple
                                    select):</label>
                                <br/>
                                <select id="roles" required multiple="multiple"
                                        class="form-control" name="roles">

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Close
                        </button>
                        <button type="submit" class="btn btn-primary">Edit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

<script
        src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>



 <script type="text/javascript" th:src="@{/js/getAndShowUser.js}"></script>

<!--<script>
    $(document).on('show.bs.modal','#myModal', function () {
        console.log('hi');
    })
</script> -->

</body>
</html>